<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Mes Annonces</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card *ngFor="let objet of donnees">
    <ion-item lines="none">
      <ion-img src="./assets/andrana.jpg" slot="start" name="hourglass-outline"></ion-img>
      <ion-label>
        <p>Description : {{ objet.descriptions}}</p>
        <p>Prix : {{ objet.prix }} MGA</p>
      </ion-label>
    </ion-item>
    <ion-item lines="none">
      <ion-label>
        <p>{{ objet.date_annonce }}</p>
      </ion-label>
    </ion-item>
    <ion-button (click)="direction(objet.id_annonce)" routerDirection="forward" color="success" fill="clear" size="full">Voir details...</ion-button>
  </ion-card>
  <ion-fab color="success" slot="fixed" vertical="bottom" horizontal="end">
    <ion-fab-button  side="center" contentId="main-content">
      <ion-icon name="caret-up-outline"></ion-icon>
    </ion-fab-button>
    <ion-fab-list side="top">
      <ion-fab-button [routerLink]="['/ajouter-annonce']" color="light">
        <ion-icon name="add"></ion-icon>
      </ion-fab-button>
      <ion-fab-button>
        <ion-icon name="search"></ion-icon>
      </ion-fab-button>
    </ion-fab-list>
  </ion-fab>
  
</ion-content>

